/* =============================  Insta MOBILE STYLES ========================== */
.img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.leftContainer {
  background: var(--Violet-Accent, #fbe4ff);
  padding: 48px 20px 0 20px;
  min-height: 350px;
}

.title {
  color: var(--Level-1, #181823);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: var(--Dark-grey, #5b6876);
  padding-top: 24px;
  padding-bottom: 24px;
  width: 320px;
}

.link {
  display: inline-block;
  position: relative;
  color: var(--Level-1, #181823);
  font-size: 16px;
  padding-bottom: 5px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #181823;
}

/* =============================  /Insta MOBILE STYLES ========================== */

/* =============================  Insta TABLET STYLES========================== */
@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
  }

  .img {
    width: 50%;
    object-fit: cover;
    object-position: center center;
  }

  .leftContainer {
    padding-top: 80px;
    min-height: 600px;
    width: 50%;
  }

  .title {
    font-size: 55px;
  }

  .text {
    width: 304px;
  }

  .link {
    margin-top: 100px;
  }
}

/* =============================  /Insta TABLET STYLES ========================== */

/* =============================  Insta DESKTOP STYLES ========================== */
@media screen and (min-width: 1158px) {
  .leftContainer {
    padding-top: 120px;
    padding-left: 60px;
    height: auto;
  }

  .title {
    width: 100%;
  }

  .text {
    width: 480px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1400px) {
  .leftContainer {
    padding-left: 80px;
  }

  .text {
    width: 576px;
  }
}
