@media screen and (min-width: 1158px) {
  .section {
    background-color: #000000;

    padding: 120px 72px;
    display: flex;
    gap: 24px;
  }

  .leftContainer,
  .rightContainer {
    flex: 1;
    max-width: calc((100%-24px) / 2);
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
  }
  .titleContainer {
    margin-bottom: 20px;
    margin-right: 36px;
    height: 300px;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .title {
    color: var(--Light-Grey, #8491a0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
  }
  .description {
    color: var(--White, #fff);
    font-family: Sen;
    font-size: 52px;
    font-weight: 700;
    margin-top: 8px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .item {
    background: var(--Level-1, #181823);
    border-radius: 16px;
    text-align: center;
  }

  .itemTitle {
    color: var(--White, #fff);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 20px;
  }
  .itemText {
    color: var(--White, #ffffffa9);
    font-family: Sen;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0px 20px 20px 20px;
  }
  .img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  .btnContainer {
    display: flex;
    margin: auto;
  }
  .btn {
    min-width: 247px;
    height: 75px;
    color: var(--White, #fff);
    background-color: transparent;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    padding: 24px 32px;
    border: 1px solid var(--Purple, #5221e6);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn:hover,
btn:focus,
btn:active {
  background-color: #5221e6;
}
