/* ============= PROJECTS MOBILE STYLES =============== */
.section {
  background-color: #000000;
  padding: 60px 16px;
}

.titleContainer {
  justify-content: center;
  margin-bottom: 24px;
}

.title {
  color: var(--Light-Grey, #8491a0);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.description {
  color: var(--White, #fff);
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
  line-height: normal;
}

.item {
  background: var(--Level-1, #181823);
  border-radius: 16px;
  text-align: center;
  margin-bottom: 32px;
}

.itemTitle {
  color: var(--White, #fff);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 20px;
}
.itemText {
  color: var(--White, #ffffffa9);
  font-family: Sen;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0px 20px 20px 20px;
}
.img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  min-width: 247px;
  height: 75px;
  color: var(--White, #fff);
  background-color: transparent;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  padding: 24px 32px;
  border: 1px solid var(--Purple, #5221e6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.btn:hover,
btn:focus,
btn:active {
  background-color: #5221e6;
}

/* ============= /PROJECTS MOBILE STYLES =============== */

/* ============= PROJECTS TABLET STYLES =============== */
@media screen and (min-width: 758px) {
  .title {
    font-size: 18px;
  }
}
/* ============= /PROJECTS TABLET STYLES =============== */

/* ============= PROJECTS DESKTOP STYLES =============== */
@media screen and (min-width: 1158px) {
  .section {
    background-color: #000000;
    padding: 120px 72px;
    display: flex;
    gap: 24px;
  }

  .leftContainer,
  .rightContainer {
    flex: 1;
    max-width: calc((100%-24px) / 2);
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
  }
  .titleContainer {
    margin-bottom: 20px;
    margin-right: 36px;
    height: 300px;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .description {
    font-size: 55px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .item {
    background: var(--Level-1, #181823);
    border-radius: 16px;
    text-align: center;
    margin-bottom: 0px;
  }

  .itemTitle {
    color: var(--White, #fff);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 20px;
  }
  .itemText {
    color: var(--White, #ffffffa9);
    font-family: Sen;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0px 20px 20px 20px;
  }
  .img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  .btnContainer {
    display: flex;
    margin: auto;
  }
  .btn {
    min-width: 247px;
    height: 75px;
    color: var(--White, #fff);
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    padding: 24px 32px;
    border: 1px solid var(--Purple, #5221e6);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn:hover,
btn:focus,
btn:active {
  background-color: #5221e6;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(92, 89, 89);
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
.modalList {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 10px;
}
.modalItem {
  flex: 0 0 auto; /* Елементи мають постійну ширину */
  width: 300px;
  min-height: 300px;
  background: #2f2929c7;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin-top: 15px;
}
.modalImg {
  margin: auto;
  height: 250px;
}
.modalTitle {
  font-family: Sen, sans-serif;
  font-size: 26px;
  color: #ccc;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}
.modalTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #5221e6;
}
.modalText {
  font-family: Sen, sans-serif;
  font-size: 18px;
  color: #ccc;
  text-align: center;
  padding-top: 20px;
}
.modalList::-webkit-scrollbar {
  height: 10px;
  background-color: #5221e6; /* Колір фону скролбару */
}

.modalList::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Колір кнопки скролу */
  border-radius: 5px;
}

.modalList::-webkit-scrollbar-thumb::after {
  content: "→";
  display: block;
  text-align: center;
  color: #000;
  font-size: 20px;
}

.btnClose {
  margin-top: 20px;
  background: #5221e6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnClose:hover,
.btnClose:focus,
.btnClose:active {
  color: #5221e6;
  background: white;
}
/* ============= PROJECTS DESKTOP STYLES =============== */
