/* ========================== MOBILE HERO STYLES======================== */

.img {
  max-width: 100%;
  height: auto;
}

.section {
  background-color: #000000;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 20px;
}

.title {
  width: 320px;
  color: var(--White, #fff);
  font-family: Sen;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titleSpan {
  color: rgba(255, 255, 255, 0.5);
}

.text {
  width: 320px;
  color: var(--White, #fff);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* ========================== /MOBILE HERO STYLES======================== */

/* ========================== TABLET HERO STYLES======================== */
@media screen and (min-width: 768px) {
  .section {
    display: flex;
    justify-content: center;
  }

  .container {
    position: absolute;
    margin-left: 10px;
    margin-top: 85px;
    gap: 150px;
    padding: 0;
  }

  .title {
    width: 408px;
    font-size: 46px;
    line-height: 1.6;
  }

  .text {
    width: 650px;
    align-items: center;
    padding-left: 30px;
  }
}

/* ========================== /TABLET HERO STYLES======================== */

/* ========================== DESKTOP HERO STYLES======================== */
@media screen and (min-width: 1158px) {
  .section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../Header/img/header.webp);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: flex-start;
  }
  .container {
    margin-left: 662px;
    margin-top: 141px;
    gap: 32px;
  }

  .title {
    width: 738px;
    font-size: 78px;
    line-height: normal;
  }

  .text {
    width: 738px;
  }
}
