/* =============================  Reviews MOBILE STYLES ========================== */

.section {
  background-color: #000000;
  padding: 48px 20px;
}

.leftContainer {
  margin-bottom: 64px;
}

.title {
  color: var(--White, #fff);
  width: 320px;
  font-family: Sen;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: var(--Light-Grey, #8491a0);
  width: 320px;
  margin-top: 16px;
  margin-bottom: 40px;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.link {
  color: var(--White, #fff);
  font-family: Sen;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */

  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.itemTextContainer {
  padding: 32px;
  width: 333px;
  border: 1px solid var(--Dark-Grey, #5b6876);
}

.itemText {
  color: var(--White, #fff);
  width: 269px;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 36px */
  margin-top: 0;
  margin-bottom: 64px;
}

.itemTextWho {
  color: var(--Dark-Grey, #5b6876);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}

.itemTextCompany {
  color: var(--Dark-Grey, #5b6876);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

/* =============================  /Reviews MOBILE STYLES ========================== */

/* =============================  Reviews TABLET STYLES ========================== */
@media screen and (min-width: 768px) {
  .section {
    display: flex;
    gap: 10px;
    padding: 80px 40px;
  }

  .leftContainer {
    margin-bottom: 0;
  }

  .title {
    width: 346px;
    font-size: 55px;
  }

  .text {
    width: 332px;
    margin-top: 24px;
  }

  .list {
    gap: 64px;
  }
}

/* =============================  /Reviews TABLET STYLES ========================== */

/* =============================  Reviews DESKTOP STYLES ========================== */
@media screen and (min-width: 1158px) {
  .reviews-section-desktop-img {
    display: block;
    width: 100%;
  }

  .section {
    gap: 72px;
    padding: 120px 72px;
  }

  .title {
    width: 588px;
  }

  .text {
    width: 588px;
  }

  .list {
    gap: 120px;
  }
  .item {
    width: 760px;
  }

  .itemTextContainer {
    padding: 61px;
    width: 636px;
  }

  .itemText {
    width: 508px;
    line-height: normal;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(170, 167, 167);
    padding: 0;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  .modalList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 20px;
    list-style: none;
    top: 0;
  }
  .modalHeader {
    position: sticky;
    top: 0;
    background-color: rgb(170, 167, 167);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #5221e6;
  }

  .modalTitle {
    font-family: Sen, sans-serif;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
  }

  .modalCloseBtn {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: #5221e6;
    font-weight: bold;
  }
  .modalCloseBtn:hover::after,
  .modalCloseBtn:focus::after,
  .modalCloseBtn:active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #5221e6;
  }
  .modalTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #5221e6;
  }
  .modalItem::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #5221e6;
  }
  .modalImg {
    border-radius: 50%;
  }
  .modalItemTextWho {
    font-size: 18px;
    font-weight: bold;
  }
  .modalItemTextCompany {
    font-size: 16px;
    font-style: italic;
  }
  .modalContainer {
    display: flex;
    gap: 30px;
    padding-bottom: 16px;
  }
  .modalTextContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
  }
}
