/* =============================  Dribbble MOBILE STYLES ========================== */
.dribble-section-desktop-img,
.dribble-section-tablet-img {
  display: none;
}

.dribble-section-mobile-img {
  display: block;
}

.section {
  background-color: #000000;
  padding: 64px 20px;
}

.title {
  color: var(--White, #fff);
  font-family: Sen;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: var(--Light-Grey, #8491a0);
  width: 320px;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  margin-top: 24px;
}

.link {
  display: inline-block;
  position: relative;

  color: var(--White, #fff);
  font-family: Sen;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  padding-bottom: 5px;
  margin-top: 100px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.imgContainer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 516px;
  width: 320px;
  background: var(--Level-1, #181823);
  border-radius: 8px 8px 0px 0px;
}

.icon {
  margin: 12px 16px;
}

.dribble-img {
  display: flex;
  align-items: flex-end;
}

/* =============================  /Dribbble MOBILE STYLES ========================== */

/* =============================  Dribbble TABLET STYLES ========================== */
@media screen and (min-width: 768px) {
  .dribble-section-desktop-img,
  .dribble-section-mobile-img {
    display: none;
  }

  .dribble-section-tablet-img {
    display: block;
  }

  .section {
    padding: 80px 40px;
  }

  .text {
    width: 688px;
  }

  .imgContainer {
    margin-top: 120px;
    height: 516px;
    width: 688px;
  }
}

/* =============================  /Dribbble TABLET STYLES ========================== */

/* =============================  Dribbble DESKTOP STYLES ========================== */
@media screen and (min-width: 1158px) {
  .dribble-section-tablet-img,
  .dribble-section-mobile-img {
    display: none;
  }

  .dribble-section-desktop-img {
    display: block;
  }

  .section {
    padding: 120px 72px;
  }

  .text {
    width: 636px;
  }

  .imgContainer {
    height: 676px;
    width: 1076px;
  }
}
