/* ========================== MOBILE HEADER STYLES========================== */

.header {
  background-color: #000000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.list {
  display: none;
}

.btn {
  display: flex;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* ========================== /MOBILE HEADER STYLES========================== */

/* ========================== TABLET HEADER STYLES========================== */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .btn {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: row;
    margin: 0;
    cursor: pointer;
  }

  .item {
    padding: 32px 24px;
    color: var(--White, #fff);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    list-style-type: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item:hover,
  .item:focus {
    background-color: var(--Purple, #5221e6);
  }
}

/* ========================== /TABLET HEADER STYLES========================== */

/* ========================== DESKTOP HEADER STYLES========================== */

@media screen and (min-width: 1158px) {
  .header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./img/header.webp);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .container {
    padding: 0 72px;
  }
}
