/* ==========================  ICONS MOBILE STYLES ========================== */
.section {
  background-color: #000000;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 180px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Level-1, #181823);
}

/* ==========================  /ICONS MOBILE STYLES ========================== */

/* ==========================  ICONS TABLET/DESKTOP STYLES ========================== */
@media screen and (min-width: 768px) {
  .list {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .item {
    width: calc(100vh / 6);
  }
}
