/* ============= PHILOSOPHY MOBILE STYLES =============== */
/* .philosophy-tablet-img, 
.philosophy-desktop-img {
    display: none;
}
.philosophy-mobile-img {
width: 100%;
} */
.section {
  display: flex;
}

.textContainer {
  padding: 48px 20px;
  background-color: #fff3e4;
  height: 450px;

  /* display: flex;
flex-direction: column;
align-items: space-between; */
}

/* .textContainer:last-child {
    align-items: flex-end;
    justify-content: end;
} */

.title {
  color: var(--Level-1, #181823);
  font-family: Sen;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.text {
  width: 320px;
  padding-top: 24px;
  color: var(--Dark-grey, #5b6876);
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.link {
  position: relative;
  display: inline-block;
  color: var(--Level-1, #181823);
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 100px;
  padding-bottom: 5px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #181823;
}

/* ============= /PHILOSOPHY MOBILE STYLES =============== */

/* ============= PHILOSOPHY TABLET STYLES =============== */
@media screen and (min-width: 768px) {
  .philosophy-mobile-img,
  .philosophy-desktop-img {
    display: none;
  }

  .philosophy-tablet-img {
    display: block;
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .textContainer {
    padding: 80px 40px;
    height: 600px;
  }

  .title {
    font-size: 55px;
    width: 304px;
  }

  .text {
    width: 304px;
  }
}

/* ============= /PHILOSOPHY TABLET STYLES =============== */

/* ============= PHILOSOPHY DESKTOP STYLES =============== */
@media screen and (min-width: 1158px) {
  .philosophy-mobile-img,
  .philosophy-tablet-img {
    display: none;
  }

  .philosophy-desktop-img {
    display: block;
    width: 100%;
  }

  .textContainer {
    padding: 120px 72px;
    width: 100%;
  }

  .title {
    font-size: 55px;
    width: 100%;
  }

  .text {
    width: 576px;
  }

  /* .philosophy-link::after {
    content: '';
    left: 0;
    bottom: 10px;
    background-color:  #8491A0;
    width: 116px;
    height: 1px;
} */
}
