/* =============================  FOOTER MOBILE STYLES ========================== */
.footer {
  background-color: var(--Level-1, #181823);
  padding: 48px 20px;
}

.logotype {
  width: 130.716px;
  height: 40px;
  flex-shrink: 0;
  fill: #fff;
  margin-bottom: 32px;
}

.iconsContainer {
  display: flex;
  gap: 16px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}

.link {
  color: var(--White, #fff);
  width: 154px;
  height: 48px;
  font-size: 16px;
  text-decoration: none;
  justify-content: center;
}

.text {
  color: var(--Light-Grey, #8491a0);
  font-size: 16px;
}

/* =============================  /FOOTER MOBILE STYLES ========================== */

/* =============================  FOOTER TABLET STYLES ========================== */
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .footerLeft {
    display: flex;
    flex-direction: column;
  }

  .footerRight {
    margin: 0;
    flex-wrap: wrap;
    width: 308px;
    height: 192px;
  }

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .text {
    margin-top: 46px;
    width: 329px;
  }
}

/* =============================  /FOOTER TABLET STYLES ========================== */

/* =============================  FOOTER DESKTOP STYLES ========================== */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 80px 182px 80px 72px;
  }

  .footerRight {
    width: 416px;
    height: 192px;
  }

  .link {
    width: 220px;
  }

  .text {
    margin-top: 142px;
    width: 100%;
  }
}

/* =============================  /FOOTER DESKTOP STYLES ========================== */
