/* ============= EXPERIENCE MOBILE STYLES =============== */
.section {
  background-color: #000000;
  padding: 48px 20px;
}

.title {
  color: var(--Light-Grey, #8491a0);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.companiesTitle {
  width: 320px;
  margin-top: 8px;
  margin-bottom: 40px;
  color: var(--White, #fff);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.companyNumber {
  width: 126px;
  color: #8491a0;
  font-size: 117px;
  line-height: normal;
}

.companyName {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 16px;
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 700;
  width: 320px;
}

.green {
  color: var(--Green_Accent, #3cc74e);
}

.blue {
  color: var(--Blue_Accent, #609bff);
}

.pink {
  color: var(--Pink_Accent, #e95d90);
}

.companyDescription {
  width: 320px;
  color: var(--Light-Grey, #8491a0);
  font-family: Sen;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* ============= /EXPERIENCE MOBILE STYLES =============== */

/* ============= EXPERIENCE TABLET STYLES =============== */
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 40px;
  }
  .title {
    font-size: 18px;
  }
  .companiesTitle {
    width: 688px;
    font-size: 55px;
  }

  .list {
    flex-direction: row;
    gap: 40px;
  }

  .companyName {
    width: 197px;
    margin-bottom: 24px;
  }

  .companyDescription {
    width: 197px;
  }
}

/* ============= /EXPERIENCE TABLET STYLES =============== */

/* ============= EXPERIENCE DESKTOP STYLES =============== */
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 40px;
  }

  .companiesTitle {
    width: 690px;
  }

  .companyName {
    margin-bottom: 22px;
    width: 348px;
  }

  .list {
    gap: 8px;
    justify-content: space-between;
    margin-right: 40px;
  }

  .companyDescription {
    width: 340px;
  }
}
@media screen and (min-width: 1300px) {
  .section {
    padding: 120px 72px;
  }

  .list {
    gap: 16px;
  }

  .companyDescription {
    width: 348px;
  }
}
/* ============= /EXPERIENCE DESKTOP STYLES =============== */
